winrt-Windows.Storage.Streams==3.1.0; sys_platform == 'win32'
winrt-Windows.Storage==3.1.0; sys_platform == 'win32'
winrt-Windows.Foundation.Collections==3.1.0; sys_platform == 'win32'
winrt-Windows.Foundation==3.1.0; sys_platform == 'win32'
winrt-Windows.Media.Control==3.1.0; sys_platform == 'win32'
dbus-next==0.2.3; sys_platform == 'linux'
pydbus==0.6.0; sys_platform == 'linux'
python-socketio==5.13.0
ytmusicapi==1.12.1
python-slugify==8.0.4